
#navigation {
    float: left;
    width: 200px;
}

#navigation2 {
    float: right;
    width: 200px;
}

#content {
    margin: 0 200px;
}


#footer {
    clear: both;
}

#marilyn {
    background: #fc0; 
    padding: 20px;
    border-radius: 10px;
}

#ok_a_border_then {
    border: 5px solid #8b2;
    padding: 20px;
    border-radius: 5px;
}


#monroe {
    background: #fc0;
    padding: 20px;
    border-radius: 3px 6px 9px 12px;
}


#nanoo {
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 100px;
    background: #fc0;
    border-radius: 50px/100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


#genus_examples > li { border: 1px solid red }



h1 {
    padding: 50px;
    background-image: url(snazzy.jpg);
    color: rgba(0,0,0,0.2);
}

#smut { color: hsl(36, 100%, 50%) }


.rabbit { background: hsla(0, 75%, 75%, 0.5) }


a[href^=http] {
	color: hsl(36, 100%, 50%);
    padding-right: 10px;
    background: hsla(0, 75%, 75%, 0.5);
}

a:link {
    color: hsl(36,20%,20%);
}

a:hover {
	transition: all 1s linear 0s;
    color: hsl(36,100%,50%);
}


.note {
    width: 200px;
    height: 100px;
    background: hsl(36,100%,50%);
	transform-origin: 0 0;
	transform: translate(100px,00px) skew(20deg,10deg) scale(1.5);
    /*background: #666 url(fade.png) 0 0 repeat-y;*/
    background: -webkit-linear-gradient(right, orange, red);
    /* background: linear-gradient(to right, orange, red); */
}

.note2
{
    width: 230px;
    height: 300px;
    /*background: hsl(36,100%,50%);*/
background: repeating-radial-gradient(#8b2, #8b2 10px, #e90 10px, #e90 20px);
}


/*The _____ property of an element can be set to a positive integer to position the element in front of or behind other elements in the document.﻿ */
